{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "indent": [2, "tab", {"SwitchCase": 1}],
    "react/jsx-indent": [2, "tab"],
    "react/jsx-indent-props": [2, "tab"],
    "comma-dangle": [2, "never"],
    "max-len": [2, 120]
  }
}
